version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
      - "5555:5555"
    volumes:
      - .:/app
      - /app/node_modules # ホストのnode_modulesを無視してコンテナ内のものを使う設定
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/daily_report_db
    depends_on:
      - db
    tty: true

  db:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER} 
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD} 
      - POSTGRES_DB=daily_report_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: